<timeline>
  <timeline-event ng-repeat="event in events">
    <timeline-badge class="warning">
      <i class="glyphicon glyphicon-plus"></i>
    </timeline-badge>
    <timeline-panel class="warning">
      <timeline-heading>
        <h4> {{event.title}} </h4>
        <span class="label label-danger"> At - {{event.when}}</span>
        <span class="label label-primary"> Priority - {{event.priority}}</span>
      </timeline-heading>
      <div class="panel-heading">{{event.description}}</div>
      <ng-map zoom="10" center="{{event.latitude}},{{event.longitude}}" >
        <directions
          suppress-markers="false"
          panel="directions-panel"
          travel-mode="{{travelMode}}"
          origin="RPS Green, 165/5, Krishna Raju Layout, JP Nagar 4th Phase, Bengaluru, Karnataka"
          destination="{{event.latitude}},{{event.longitude}}">
        </directions>
        <street-view-panorama
            click-to-go="false"
            disable-default-u-i="false"
            disable-double-click-zoom="false"
            position= "{{event.latitude}},{{event.longitude}}"
            scrollwheel="true"
            enable-close-button="true"
            visible="true">
        </street-view-panorama>
      </ng-map>
    </timeline-panel>
  </timeline-event>
</timeline>

<timeline>
  <timeline-event ng-repeat="event2 in events2">
    <timeline-badge class="warning">
      <i class="glyphicon glyphicon-ok"></i>
    </timeline-badge>
    <timeline-panel class="warning">
      <timeline-heading>
        <h4> {{event2.title}} </h4>
        <span class="label label-danger"> At - {{event2.when}}</span>
        <span class="label label-primary"> Priority - {{event2.priority}}</span>
      </timeline-heading>
      <div class="panel-heading">{{event2.description}}</div>
    </timeline-panel>
  </timeline-event>
</timeline>
