<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Search</div>
        <div class="panel-body" ng-controller="MarkinCtrl as vm">
            <button type="button" class="btn btn-primary" ng-click="filterClick()">Filter</button>
            <input type="search" placeholder="Search" class="form-control" places-auto-complete size=35 ng-model="vm.address" on-place-changed="vm.placeChanged()" /> <br/>
            <div ng-show="vm.place">
              Address = {{vm.place.formatted_address}} <br/>
              Location = {{vm.place.geometry.location}}<br/>
              Nearby Places = {{data || "loading..."}}<br/>
            </div>
            <br>
              <ng-map center="{{vm.address}}" zoom="10" >
                  <marker position="{{vm.address}}" title="{{address}}"></marker>
              </ng-map>
        </div>
      </div>
    </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">About</div>
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Edit Place</legend>
        <form method="post" ng-submit="storeMarkin()">
          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i>Place Name</label>
            <input type="text" class="form-control" ng-model="markin.title" />
          </div>

          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i>Pick a date and time</label>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="markin.dt" is-open="status.opened" max-date="'2020-06-22'" datepicker-options="dateOptions"  ng-required="true"
                          close-text="Close"/>
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
              </span>
              <div uib-timepicker ng-model="markin.dt" hour-step="1" minute-step="15" show-meridian="true"></div>
            </p>
          </div>

          <div class="form-group">
            <label for="sel1">Priority:</label>
              <select ng-model="markin.priority" class="form-control" >
                <option>High</option>
                <option>Average</option>
                <option>low</option>
              </select>
            <br>
            <label class="control-label"><span class="glyphicon glyphicon-pencil"></span>Description</label>
            <textarea class="form-control" rows="3" ng-model="markin.description"></textarea>
          </div>
          <div class="checkbox disabled">
            <label><input ng-model="markin.status" type="checkbox" value="">Visited</label>
          </div>
          <button class="btn btn-lg btn-success">Update Place</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
