<div class="container">
  <div class="row" ng-controller="MarkinCtrl as markin">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><label><i class="glyphicon glyphicon-search"></i> Search:</label></div>
        <div class="panel-body">
            <input id = "searchplace" type="search" placeholder="Search" class="form-control" places-auto-complete size=35 ng-model="markin.address" on-place-changed="placeChanged()" /> <br/>
            <div ng-show="markin.place">
              Nearby Places = {{data || "loading..."}}
            </div>
              <ng-map center="{{markin.address}}" zoom="10" >
                  <directions
                    suppress-markers="true"
                    panel="directions-panel"
                    travel-mode="{{travelMode}}"
                    origin="RPS Green, 165/5, Krishna Raju Layout, JP Nagar 4th Phase, Bengaluru, Karnataka"
                    destination="{{markin.latitude}},{{markin.longitude}}">
                  </directions>
                  <marker id="end" draggable="true" on-dragend="getCurrentLocation()" position="{{markin.address}}"></marker>
              </ng-map>
              <br>
              <b>Mode of Travel: </b>
              <select ng-model="travelMode" ng-init="travelMode='DRIVING'">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
              </select>
              <button ng-show="showdirectclick" type="button" class="btn btn-primary" ng-click="directClick()">Direction</button>
              <button ng-show="showhideclick" type="button" class="btn btn-primary" ng-click="hideClick()">Hide</button>
              <main-area ng-show="showMydirc">
              </main-area>
        </div>
      </div>
    </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">About</div>
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Edit Place</legend>
        <form method="post" ng-submit="storeMarkin()">
          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Title </label>
            <input type="text" value="John" class="form-control" ng-model="markin.title" />
          </div>

          <div class="form-group">
            <label class="control-label"><i class="glyphicon glyphicon-check"></i> Pick a date and time</label>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="markin.dt" is-open="status.opened" max-date="'2020-06-22'" datepicker-options="dateOptions"  ng-required="true"
                          close-text="Close"/>
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
              </span>
              <div uib-timepicker ng-model="markin.dt" hour-step="1" minute-step="15" show-meridian="true"></div>
            </p>
          </div>

          <div class="form-group">
            <label><i class="glyphicon glyphicon-folder-close"></i> Priority:</label>
              <select ng-model="markin.priority" class="form-control" >
                <option>High</option>
                <option>Average</option>
                <option>low</option>
              </select>
            <br>
            <label class="control-label"><span class="glyphicon glyphicon-pencil"></span> Description</label>
            <textarea class="form-control" rows="3" ng-model="markin.description"></textarea>
          </div>
          <div class="checkbox ">
            <label><input type="checkbox" ng-model="answers[ID]" ng-change="stateChanged(ID)" /> Visited</label>
          </div>
          <input class="form-control" type="hidden" value="" ng-model="markin.status"/>
          <input class="form-control" type="hidden" value="" ng-model="markin.latitude"/>
          <input class="form-control" type="hidden" value="" ng-model="markin.longitude"/>
          <button class="btn btn-lg btn-success">Update Place</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
